.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 150px;
}

h2 {
  margin: 5px 0px;
}

.postImage {
  align-self: center;
}

.more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  gap: 16px;
  height: 264px;
  margin-bottom: 50px;
}
