.container {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 16px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}

.image img {
  display: flex;
  width: 350px;
  height: 192.7px;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.readtime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  color: #1473e6;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
}

.body {
  flex: 5;
}
.time {
  display: flex;
  align-items: center;
  flex: 1;
}
.dot {
  display: flex;
  justify-content: center;
  width: 10px;
  margin-bottom: 9px;
  font-weight: 900;
}
